#imprimer{
   position:absolute ;
    right: 15%;

}

.valeur{

 color: grey;
 position:absolute;
 right: 20%;
 bottom:-2%;
}



#check{
    position: absolute;
right: 100%;
margin-right: 5%;
}
#check2{
position: absolute;
right: 100%;
margin-right: 2%;
}

#label{

    position:absolute;
    left: 5%;
    bottom: 10%;
   
}