<div novalidate autocomplete="off">
	<!-- {{addForm.value |json}} -->
	<div class="kt-portlet portlet-3">
		<div class="kt-portlet__head kt-bg-portlet-3">
			<div class="kt-portlet__head-label">
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					Modifier Convention
				</h2>
			</div>
		</div>
	</div>

	<div class="col-xl-12 col-xxl-6">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>Objet</mat-label>
						<input
							type="text"
							class="form-control form-control-solid form-control-lg"
							name="address1"
							Value="Convention 1"
							matInput
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>

					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>Date</mat-label>
						<input
							type="date"
							class="form-control form-control-solid form-control-lg"
							name="address1"
							value="2022-06-30"
							matInput
						/>
					</mat-form-field>

					<div class="fv-plugins-message-container"></div>

					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>Durée(Mois)</mat-label>
						<input
							type="text"
							class="form-control form-control-solid form-control-lg"
							name="address1"
							value="Duree 3"
							matInput
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>

					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>Montant(MDH)</mat-label>
						<input
							type="text"
							class="form-control form-control-solid form-control-lg"
							name="address1"
							value="2000,00 DH"
							matInput
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>

					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>

		<div class="kt-portlet__heads">
			<div class="kt-portlet__head-label text-right">
				<button
					href="javascript:; "
					(click)="RetourEmbalages()"
					_ngcontent-dkp-c41=""
					class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
				>
					<i _ngcontent-dkp-c41="" class="la la-recycle"></i>
					Retour
				</button>
			</div>
		</div>
		<div class="espace_bloc"></div>
	</div>
</div>
