<div novalidate autocomplete="off">
	<!-- {{addForm.value |json}} -->
	<div class="kt-portlet portlet-3">
		<div class="kt-portlet__head kt-bg-portlet-3">
			<div class="kt-portlet__head-label">
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					Ajouter Projet
				</h2>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group fv-plugins-icon-container">
				<div
					class="Radio"
					style="
						display: flex;
						flex-wrap: wrap;
						margin-right: -15px;
						margin-left: -15px;
						justify-content: center;
					"
				>
					<div class="col-md-4">
						<div class="form-group fv-plugins-icon-container">
							<input
								class="form-check-input"
								type="radio"
								[(ngModel)]="isVisible"
								name="isVisible1"
								[value]="0"
								[checked]="isSelected"
							/>
							<label>
								<h5>Aucune Programme</h5>
							</label>
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group fv-plugins-icon-container">
							<input
								class="form-check-input"
								type="radio"
								[(ngModel)]="isVisible"
								name="isVisible1"
								[value]="1"
								[checked]="!isSelected"
							/>
							<label>
								<h5>Programme</h5>
							</label>
						</div>
					</div>
				</div>

				<div class="m-6 text-center purple" *ngIf="isVisible == 1">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<mat-select
										class="form-control-lg"
										placeholder="Programme"
									>
										<mat-option [value]="null"
											>Programme A</mat-option
										>
										<mat-option [value]="''"
											>Programme B</mat-option
										>
										<mat-option [value]="''"
											>Programme C</mat-option
										>
										<mat-option [value]="''"
											>Programme D
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group fv-plugins-icon-container">
							<mat-form-field class="example-full-width">
								<mat-label>Objet</mat-label>
								<input
									type="text"
									class="form-control-solid form-control-lg"
									name="address1"
									matInput
								/>
							</mat-form-field>
							<div class="fv-plugins-message-container"></div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group fv-plugins-icon-container">
							<mat-form-field class="example-full-width">
								<mat-label>Date</mat-label>
								<input
									type="date"
									class="form-control-solid form-control-lg"
									name="address1"
									matInput
								/>
							</mat-form-field>
							<div class="fv-plugins-message-container"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group fv-plugins-icon-container">
							<mat-form-field class="example-full-width">
								<mat-label>Durée(Mois)</mat-label>
								<input
									type="text"
									class="form-control-solid form-control-lg"
									name="address1"
									matInput
								/>
							</mat-form-field>
							<div class="fv-plugins-message-container"></div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group fv-plugins-icon-container">
							<mat-form-field class="example-full-width">
								<mat-label>Consistance</mat-label>
								<input
									type="text"
									class="form-control-solid form-control-lg"
									name="address1"
									matInput
								/>
							</mat-form-field>
							<div class="fv-plugins-message-container"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group fv-plugins-icon-container">
							<mat-form-field class="example-full-width">
								<mat-label>Div(Entité) chargé au niveau C.M</mat-label>
								<mat-select
									class="form-control-lg"
									placeholder=""
								>
									<mat-option [value]="null"
										>User A</mat-option
									>
									<mat-option [value]="''">User B</mat-option>
									<mat-option [value]="''">User C</mat-option>
									<mat-option [value]="''"
										>User D
									</mat-option>
								</mat-select>
							</mat-form-field>
							<div class="fv-plugins-message-container"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group fv-plugins-icon-container">
							<div
								class="Radio"
								style="
									display: flex;
									flex-wrap: wrap;
									margin-right: -15px;
									margin-left: -15px;
									justify-content: center;
								"
							>
								<div class="col-md-4">
									<div
										class="form-group fv-plugins-icon-container"
									>
										<input
											class="form-check-input"
											type="radio"
											[(ngModel)]="Visible"
											name="Visible1"
											[value]="0"
											[checked]="isSelected"
										/>
										<label>
											<h5>Aucune Convention</h5>
										</label>
									</div>
								</div>

								<div class="col-md-4">
									<div
										class="form-group fv-plugins-icon-container"
									>
										<input
											class="form-check-input"
											type="radio"
											[(ngModel)]="Visible"
											name="Visible1"
											[value]="1"
											[checked]="!isSelected"
										/>
										<label>
											<h5>Convention</h5>
										</label>
									</div>
								</div>
							</div>

							<div
								class="m-6 text-center purple"
								*ngIf="Visible == 1"
							>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<mat-form-field
												class="example-full-width"
											>
												<mat-select
													class="form-control-lg"
													placeholder="Convention"
												>
													<mat-option [value]="null"
														>Convention
														A</mat-option
													>
													<mat-option [value]="''"
														>Convention
														B</mat-option
													>
													<mat-option [value]="''"
														>Convention
														C</mat-option
													>
													<mat-option [value]="''"
														>Convention D
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div>
								</div>
							</div>

							<div class="kt-portlet__heads">
								<div class="kt-portlet__head-label text-right">
									<button
										href="javascript:; "
										(click)="RetourEmbalages()"
										_ngcontent-dkp-c41=""
										class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
									>
										<i
											_ngcontent-dkp-c41=""
											class="la la-recycle"
										></i>
										Retour
									</button>
									<button
										_ngcontent-dkp-c41=""
										class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
									>
										<i
											_ngcontent-dlp-c41
											class="icon la la-floppy-o"
										></i>
										ENREGISTRER
									</button>
								</div>
							</div>
							<div class="espace_bloc"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
