<!-- begin:: Content -->
<div class="kt-portlet portlet-1 col-md-12">
	<div class="kt-portlet__head kt-bg-portlet-2">
		<div class="kt-portlet__head-label">
			&nbsp;
			<h2 class="kt-portlet__head-title kt-font-inverse-brand">
				Détails de demande
			</h2>
		</div>
	</div>
</div>

<div class="row justify-content-center">
	<div class="kt-portlet portlet-1 col-md-5">
		<div class="kt-portlet__head kt-bg-portlet-2">
			<div class="kt-portlet__head-label">
				&nbsp;
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					Info Demandeur
				</h2>
			</div>
		</div>
		<div class="kt-portlet__body">
			<div class="row">
				<div class="col-md-12 show_port">
					<table class="table">
						<tbody>
							<tr>
								<th>Nom :</th>
								<td class="donnee_show">Faracha</td>
							</tr>
							<tr>
								<th>Prenom :</th>
								<td class="donnee_show">Omar</td>
							</tr>

							<tr>
								<th>CIN :</th>
								<td class="donnee_show">A64565</td>
							</tr>
							<tr>
								<th>
									Ville :
								</th>
								<td class="donnee_show">Rabat</td>
							</tr>

							<tr>
								<th>
									Tel :								
								</th>
								<td class="donnee_show">0645757572</td>
							</tr>
							<tr>
								<th>
									Fax :
								</th>
								<td class="donnee_show">5551</td>
							</tr>
							<tr>
								<th>
									Adresse :
								</th>
								<td class="donnee_show">20, rue saada</td>
							</tr>
							<tr>
								<th>
									Pays :
								</th>
								<td class="donnee_show">Maroc</td>
							</tr>
							<tr>
								<th>
									Email :
								</th>
								<td class="donnee_show">omar@gmail.com</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="kt-portlet portlet-1 col-md-5">
		<div class="kt-portlet__head kt-bg-portlet-2">
			<div class="kt-portlet__head-label">
				&nbsp;
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					Info Défendresse
				</h2>
			</div>
		</div>
		<div class="kt-portlet__body">
			<div class="row">
				<div class="col-md-12 show_port">
					<table class="table">
						<tbody>
							<tr>
								<th>
									Raison social :
								</th>
								<td class="donnee_show">Sale</td>
							</tr>
							<tr>
								<th>
									Forme juridique :
								</th>
								<td class="donnee_show">104646462</td>
							</tr>

							<tr>
								<th>
									RC :
								</th>
								<td class="donnee_show">222222</td>
							</tr>
							<tr>
								<th>
									IF :
								</th>
								<td class="donnee_show">5465677</td>
							</tr>

							<tr>
								<th>
									ICE :
								</th>
								<td class="donnee_show">5662566</td>
							</tr>                    

							<tr>
								<th>
									Adresse :
								</th>
								<td class="donnee_show">26, hay riyad</td>
							</tr>

							<tr>
								<th>
									Ville :
								</th>
								<td class="donnee_show">sale</td>
							</tr>

							<tr>
								<th>
									Pays :
								</th>
								<td class="donnee_show">Maroc</td>
							</tr>

                            <tr>
								<th>
									Tel :
								</th>
								<td class="donnee_show">0523457878</td>
							</tr>

                            <tr>
								<th>
									Email :
								</th>
								<td class="donnee_show">ssss@gmail.com</td>
							</tr>

                            <tr>
								<th>
									Fax :
								</th>
								<td class="donnee_show">64564</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- END DETAILS ASSOCIATION -->
		</div>
	</div>
</div>


<div class="row justify-content-center">
	<div class="kt-portlet portlet-1 col-md-10">
		<div class="kt-portlet__head kt-bg-portlet-2">
			<div class="kt-portlet__head-label">
				&nbsp;
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					Details
				</h2>
			</div>
		</div>
		<div class="kt-portlet__body">
			<div class="row">
				<div class="col-md-12 show_port">
					<table class="table">
						<tbody>
							<tr>
								<th>Objet :</th>
								<td class="donnee_show">objet1</td>
							</tr>
                            <tr>
                                <th>Description courte :</th>
                                <td class="donnee_show">sssssssssssss</td>
                            </tr>
                            <tr>
                                <th>Division concerné :</th>
                                <td class="donnee_show">division1</td>
                            </tr>
                            <tr>
                                <th>Remarque :</th>
                                <td class="donnee_show">remarque1</td>
                            </tr>
                            <tr>
                                <th>Description Longue :</th>
                                <td class="donnee_show">description1</td>
                            </tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- END DETAILS ASSOCIATION -->
		</div>
	</div>
</div>

<div class="kt-portlet__heads">
	<div class="kt-portlet__head-label" align="right">
		<button
			href="javascript:;"
			(click)="back()"
			_ngcontent-dkp-c41=""
			class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
		>
			<i _ngcontent-dkp-c41="" class="la la-recycle"></i>
			Retour
		</button>
	</div>
</div>
<div class="espace_bloc"></div>
<!-- end:: Content -->
