<div class="kt-portlet">
    <div class="kt-portlet__head kt-bg-portlet-3">
        <div class="kt-portlet__head-label">
            <h2 class="kt-portlet__head-title">
                {{ 'Liste Des Sous Espéces' | translate }}
            </h2>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button (click)="exportTable()" type="button" class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show" matTooltip="{{ 'PAGES.GENERAL.DOWNLOAD' | translate }}&nbsp;{{ 'PAGES.AFFAIRE.TITRE_INDEX' | translate }}">
                        <i class="flaticon2-download text-success"></i>
                    </button>
                    <a href="javascript:; " (click)="add()"  class="btn btn-success btn-elevate btn-icon-sm">
                        <i class="la la-plus"></i> {{ 'Ajouter' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="example-header  col-md-4">
        <i class="flaticon-search-magnifier-interface-symbol text-dark"></i>&nbsp;
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'Rechercher' | translate }}">
        </mat-form-field>
    </div>
    
    <table id="exportData" mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-2" matSort>

        <!-- nom Column -->
        <ng-container matColumnDef="num">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="num">
                {{ 'Id' | translate }}</th>
            <td mat-cell *matCellDef="let row" class="num"> {{row.num}} </td>
            
        </ng-container>

        <!-- nom Column -->
        <ng-container matColumnDef="tribunal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="tribunal">{{ 'Espéce' | translate }}
            </th>
            <td mat-cell *matCellDef="let row" class="tribunal">
                {{ row.nom? ((row.nom.length>25)? (row.nom | slice:0:25)+ '...':(row.nom)) : "-" }}
                <a href="javascript:void(0);" *ngIf="row.nom.length>25" matTooltip="{{ row.nom }}"><i
                        class="fas fa-info-circle"></i></a>
            </td>
        </ng-container>

        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="nom">{{ 'Sous Espéce' | translate }}
            </th>
            <td mat-cell *matCellDef="let row" class="nom">
                {{ row.nom? ((row.nom.length>25)? (row.nom | slice:0:25)+ '...':(row.nom)) : "-" }}
                <a href="javascript:void(0);" *ngIf="row.nom.length>25" matTooltip="{{ row.nom }}"><i
                        class="fas fa-info-circle"></i></a>
            </td>
        </ng-container>

        <!-- email  Column -->
        <ng-container matColumnDef="defendresse">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="defendresse">
                {{ 'Description' | translate }}</th>
            <td mat-cell *matCellDef="let row" class="mail">
                {{ row.defendresse? ((row.defendresse.length>20)? (row.defendresse | slice:0:17)+ '...':(row.defendresse)) : "-" }}
                <a href="javascript:void(0);" *ngIf="row.defendresse.length>20" matTooltip="{{ row.defendresse }}"><i
                        class="fas fa-info-circle"></i></a>
            </td>
        </ng-container>

        
 

        <!-- pour exporter excel -->
     
        <!-- pour exporter excel -->

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="action"> {{ 'Actions' | translate }}</th>
            <td mat-cell *matCellDef="let row" class="actionsBtn action">
               
                <button type="button"  class="btn btn-sm btn-clean btn-icon btn-warning btn-icon-md btn_table_edit" matTooltip="{{ 'PAGES.GENERAL.EDIT' | translate }}"> <a href="javascript:; " (click)="addAssociation()"  >
                    <i class="icon la la-edit"></i>
                </a></button>
                <button type="button" (click)="deleteAssociation(row.id)"  class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete" matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}"><i class="icon la la-trash"></i></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- footer data -->
    </table>
    <div *ngIf="dataSource.data.length == 0 && isLoading == false" style="display: flex;justify-content: center;padding: 2%;color: orangered;">
        {{ 'PAGES.GENERAL.NO_RECORDS' | translate }}
    </div>
    <!-- <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner color="primary" mode="indeterminate" diameter="50">
        </mat-progress-spinner>
    </mat-card> -->
    <mat-paginator *ngIf="dataSource != undefined &&  dataSource.data != undefined " [length]="dataSource.data.length" [pageSize]="5" [pageIndex]="0" [pageSizeOptions]="[5,10,50]" showFirstLastButtons></mat-paginator>
    <hr>
</div>
