<div class="kt-portlet">
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label">
			<h2 class="kt-portlet__head-title">Calendrier des Evenements</h2>
		</div>
		<div class="kt-portlet__head-toolbar">
			<div class="kt-portlet__head-wrapper">
				<div class="kt-portlet__head-actions">
					<button
						type="button"
						class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show"
						matTooltip="{{
							'PAGES.GENERAL.DOWNLOAD' | translate
						}}&nbsp;"
					>
						<i class="flaticon2-download text-success"></i>
					</button>
					<a
						href="javascript:; "
						class="btn btn-success btn-elevate btn-icon-sm"
						(click)="addEvenement()"
					>
						<i class="la la-plus"></i>
						Ajouter Evenement
					</a>
				</div>
			</div>
		</div>
	</div>
	<full-calendar [options]="calendarOptions" class="m-3 p-3"></full-calendar>
</div>
