<div novalidate autocomplete="off">
	<!-- {{addForm.value |json}} -->
	<div class="kt-portlet portlet-3">
		<div class="kt-portlet__head kt-bg-portlet-3">
			<div class="kt-portlet__head-label">
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					{{ "Modifier Une Chevillard" | translate }}
				</h2>
			</div>
		</div>
	</div>

	<form class="form fv-plugins-bootstrap fv-plugins-framework" id="kt_form">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder="Nom"
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<!--  <textarea matInput 
                           placeholder="Commentaire" 
                            
                           >
                        </textarea> -->
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder="Prénom"
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<!--  <textarea matInput 
                           placeholder="Commentaire" 
                            
                           >
                        </textarea> -->
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder="CIN"
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group">
					<div class="input-group date">
						<mat-form-field class="example-full-width">
							<input
								value="2022-06-08"
								matInput
								class="form-control"
								[matDatepicker]="picker1"
								placeholder="Date De Naissance"
							/>
							<mat-datepicker-toggle
								matSuffix
								matSuffix
								[for]="picker1"
							>
								<mat-icon matDatepickerToggleIcon
									><i class="fas fa-calendar-plus"></i>
								</mat-icon>
							</mat-datepicker-toggle>
							<mat-datepicker
								touchUi="true"
								#picker1
							></mat-datepicker>
						</mat-form-field>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<textarea
							value="sample text"
							matInput
							class="form-control"
							placeholder="Adresse"
						>
						</textarea>
						<!-- <input
							matInput
							type="text"
							class="form-control"
							placeholder="Commentaire"
						/>-->
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder="{{
								'PAGES.ASSOCIATION.TEL' | translate
							}}"
						/>
						<mat-icon matSuffix
							><i class="far fa-keyboard"></i
						></mat-icon>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>

		<div class="d-flex justify-content-between mt-5 pt-10">
			<div class="mr-2"></div>
			<div>
				<button
					type="button"
					(click)="back()"
					class="btn btn-primary"
					data-wizard-type="action-prev"
				>
					<i class="la la-angle-left"></i>
					Retour
				</button>

				<button
					type="button"
					class="btn btn-success btn-elevate btn-icon-sm"
					data-wizard-type="action-submit"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="16"
						height="16"
						fill="currentColor"
						class="bi bi-pen"
						viewBox="0 0 16 16"
					>
						<path
							d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"
						/>
					</svg>
					Modifier
				</button>
			</div>
		</div>
	</form>
</div>
