<!-- begin:: Content -->
<div class="kt-portlet portlet-1 col-md-12">
	<div class="kt-portlet__head kt-bg-portlet-2">
		<div class="kt-portlet__head-label">
			&nbsp;
			<h2 class="kt-portlet__head-title kt-font-inverse-brand">
				Détail d'un notaire
			</h2>
		</div>
	</div>
</div>

<div class="row justify-content-center">
	<div class="kt-portlet portlet-1 col-md-5">
		<div class="kt-portlet__head kt-bg-portlet-2">
			<div class="kt-portlet__head-label">
				&nbsp;
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					Information 1:
				</h2>
			</div>
		</div>
		<div class="kt-portlet__body">
			<div class="row">
				<div class="espace_bloc"></div>
				<div class="col-md-12 show_port">
					<table class="table">
						<tbody>
							<tr>
								<th>N° Profissionel :</th>
								<td class="donnee_show">1215454545</td>
							</tr>
							<tr>
								<th>Nom :</th>
								<td class="donnee_show">Benouahi</td>
							</tr>

							<tr>
								<th>Prenom :</th>
								<td class="donnee_show">Ayoub</td>
							</tr>
							<tr>
								<th>Cin :</th>
								<td class="donnee_show">A54656565</td>
							</tr>

							<tr>
								<th>Raison social :</th>
								<td class="donnee_show">Nom</td>
							</tr>
							<tr>
								<th>RC :</th>
								<td class="donnee_show">32424532</td>
							</tr>
							<tr>
								<th>IF :</th>
								<td class="donnee_show">Active</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="kt-portlet portlet-1 col-md-5">
		<div class="kt-portlet__head kt-bg-portlet-2">
			<div class="kt-portlet__head-label">
				&nbsp;
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					Information 2
				</h2>
			</div>
		</div>
		<div class="kt-portlet__body">
			<div class="row">
				<div class="espace_bloc"></div>
				<div class="col-md-12 show_port">
					<table class="table">
						<tbody>
							<tr>
								<th>ICE :</th>
								<td class="donnee_show">1021324230</td>
							</tr>
							<tr>
								<th>Adresse :</th>
								<td class="donnee_show">AL KAKI Rabat</td>
							</tr>

							<tr>
								<th>GSM :</th>
								<td class="donnee_show">0610223902349</td>
							</tr>
							<tr>
								<th>Fax :</th>
								<td class="donnee_show">0510223902349</td>
							</tr>

							<tr>
								<th>Spécialité :</th>
								<td class="donnee_show">Nom</td>
							</tr>
							<tr>
								<th>Ville :</th>
								<td class="donnee_show">Rabat</td>
							</tr>
							<tr>
								<th>Burreau :</th>
								<td class="donnee_show">Active</td>
							</tr>
							<tr>
								<th>Date de Création :</th>
								<td class="donnee_show">2019/10/21</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- END DETAILS ASSOCIATION -->
		</div>
	</div>
</div>

<div class="row justify-content-center">
	<div class="kt-portlet portlet-1 col-md-10">
		<div class="kt-portlet__head kt-bg-portlet-2">
			<div class="kt-portlet__head-label">
				&nbsp;
				<h3 class="kt-portlet__head-title kt-font-inverse-brand">
					Piéces Jointes
				</h3>
			</div>
		</div>
		<div class="kt-portlet__body">
			<div class="row">
				<div class="espace_bloc"></div>
				<div class="col-md-12 show_port">
					<table class="table">
						<tbody>
							<tr>
								<td class="Status">
									Agrément pour les coopirative soumis à
									l'inscription au registre:
								</td>
								<td>
									<button
										type="button"
										class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete"
										matTooltip="{{
											'PAGES.GENERAL.DELETE' | translate
										}}"
									>
										<i class="fa fa-file"></i>
									</button>
								</td>
							</tr>
							<tr>
								<td class="Status">
									Statuts pour les personne Morales :
								</td>
								<td>
									<button
										type="button"
										class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete"
										matTooltip="{{
											'PAGES.GENERAL.DELETE' | translate
										}}"
									>
										<i class="fa fa-file"></i>
									</button>
								</td>
							</tr>
							<tr>
								<td class="Status">
									Etats financiers des deux derniers exercices
									certifiés par l'administration des impots :
								</td>
								<td>
									<button
										type="button"
										class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete"
										matTooltip="{{
											'PAGES.GENERAL.DELETE' | translate
										}}"
									>
										<i class="fa fa-file"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- END DETAILS ASSOCIATION -->
		</div>
	</div>
</div>

<div class="kt-portlet__heads">
	<div class="kt-portlet__head-label" align="right">
		<button
			href="javascript:;"
			(click)="Back()"
			_ngcontent-dkp-c41=""
			class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
		>
			<i _ngcontent-dkp-c41="" class="la la-recycle"></i>
			Retour
		</button>
	</div>
</div>
<div class="espace_bloc"></div>
<!-- end:: Content -->
