
<div novalidate autocomplete="off">
	<!-- {{addForm.value |json}} -->
	<div class="kt-portlet portlet-3">
		<div class="kt-portlet__head kt-bg-portlet-3">
			<div class="kt-portlet__head-label">
				<span class="kt-portlet__head-icon">
					<i class="fas fa-address-card kt-font-inverse-brand"></i>
				</span>
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					Ajouter P.P
				</h2>
			</div>
		</div>
	</div>

	
						<div class="col-xl-12 col-xxl-6">
							<div class="row">
								<div class="col-md-12">
									<div
										class="form-group fv-plugins-icon-container"
									>
									<mat-form-field class="example-full-width">
										<mat-label>Duree</mat-label>
										<input
										style=" 
										text-align: center; color: black;"
										type="number"
										value="5"
										class="form-control form-control-solid form-control-lg"
										name="address1" disabled matInput>
									</mat-form-field>
										<div
											class="fv-plugins-message-container"
										></div>

										<div
											class="fv-plugins-message-container"
										></div>
									</div>
								</div>
							</div>





								<div class="row">
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
										<mat-form-field class="example-full-width">
											<mat-label>A1</mat-label>
											<input 	type="number"
											class="form-control form-control-solid form-control-lg"
											name="address1" matInput>
										</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
										<mat-form-field class="example-full-width">
											<mat-label>A2</mat-label>
											<input 	type="number"
											class="form-control form-control-solid form-control-lg"
											name="address1"  matInput>
										</mat-form-field>

											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
										<mat-form-field class="example-full-width">
											<mat-label>A3</mat-label>
											<input 	type="number"
											class="form-control form-control-solid form-control-lg"
											name="address1"  matInput>
										</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
										<mat-form-field class="example-full-width">
											<mat-label>A4</mat-label>
											<input 	type="number"
											class="form-control form-control-solid form-control-lg"
											name="address1"  matInput>
										</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
										<mat-form-field class="example-full-width">
											<mat-label>A5</mat-label>
											<input 	type="number"
											class="form-control form-control-solid form-control-lg"
											name="address1"  matInput>
										</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>

								</div>















								<div class="kt-portlet__heads">
									<div
										class="kt-portlet__head-label text-right"
									>

										<button
											href="javascript:; "
											(click)="RetourEmbalages()"
											_ngcontent-dkp-c41=""
											class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
										>
											<i
												_ngcontent-dkp-c41=""
												class="la la-recycle"
											></i>
											Retour
										</button>
										<button
											_ngcontent-dkp-c41=""
											class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
										>
											<i
												_ngcontent-dlp-c41
												class="icon la la-floppy-o"
											></i>
											ENREGISTRER
										</button>
									</div>
								</div>
								<div class="espace_bloc"></div>

						</div>
					</div>
				

