<!-- begin:: Content -->
<div class="kt-portlet portlet-1 col-md-12">
	<div class="kt-portlet__head kt-bg-portlet-2">
		<div class="kt-portlet__head-label">
			&nbsp;
			<h2 class="kt-portlet__head-title kt-font-inverse-brand">
				Details du concours
			</h2>
		</div>
	</div>
</div>

<div class="row justify-content-center">
	<div class="kt-portlet portlet-1 col-md-5">
		<div class="kt-portlet__head kt-bg-portlet-2">
			<div class="kt-portlet__head-label">
				&nbsp;
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					Informations générales
				</h2>
			</div>
		</div>
		<div class="kt-portlet__body">
			<div class="row">
				<div class="col-md-12 show_port">
					<table class="table">
						<tbody>
							<tr>
								<th>Numero :</th>
								<td class="donnee_show">Nom1</td>
							</tr>
							<tr>
								<th>Type :</th>
								<td class="donnee_show">Prenom1</td>
							</tr>

							<tr>
								<th>Date de publication :</th>
								<td class="donnee_show">sample text</td>
							</tr>
							<tr>
								<th>Date de fin de la publication :</th>
								<td class="donnee_show">sample text</td>
							</tr>

							<tr>
								<th>
									Date de dépot de la demande de candidature :
								</th>
								<td class="donnee_show">sample text</td>
							</tr>
							<tr>
								<th>Date début concours :</th>
								<td class="donnee_show">sample text</td>
							</tr>
							<tr>
								<th>Heure début concours :</th>
								<td class="donnee_show">sample text</td>
							</tr>
							<tr>
								<th>Date fin concours :</th>
								<td class="donnee_show">sample text</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="kt-portlet portlet-1 col-md-5">
		<div class="kt-portlet__head kt-bg-portlet-2">
			<div class="kt-portlet__head-label">
				&nbsp;
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					Contact
				</h2>
			</div>
		</div>
		<div class="kt-portlet__body">
			<div class="row">
				<div class="col-md-12 show_port">
					<table class="table">
						<tbody>
							<tr>
								<th>Personnels éligibles :</th>
								<td class="donnee_show text-danger">
									<mat-icon>picture_as_pdf</mat-icon>
								</td>
							</tr>
							<tr>
								<th>Personnels inscrits :</th>
								<td class="donnee_show text-danger">
									<mat-icon>picture_as_pdf</mat-icon>
								</td>
							</tr>

							<tr>
								<th>
									Personnels à contacter en cas de malaise :
								</th>
								<td class="donnee_show text-danger">
									<mat-icon>picture_as_pdf</mat-icon>
								</td>
							</tr>
							<tr>
								<th>Commissions sélectonnés :</th>
								<td class="donnee_show text-danger">
									<mat-icon>picture_as_pdf</mat-icon>
								</td>
							</tr>

							<tr>
								<th>Lieu du concours écrit :</th>
								<td class="donnee_show">sample text</td>
							</tr>

							<tr>
								<th>Adresse :</th>
								<td class="donnee_show">sample text</td>
							</tr>

							<tr>
								<th>
									Commissions de suivi et de supervision :
								</th>
								<td class="donnee_show text-danger">
									<mat-icon>picture_as_pdf</mat-icon>
								</td>
							</tr>

							<tr>
								<th>
									Commissions s'examen administrative et
									technique :
								</th>
								<td class="donnee_show text-danger">
									<mat-icon>picture_as_pdf</mat-icon>
								</td>
							</tr>

							<tr>
								<th>PV commissions résultats de l'écrit :</th>
								<td class="donnee_show text-danger">
									<mat-icon>picture_as_pdf</mat-icon>
								</td>
							</tr>
							<tr>
								<th>
									Date publication des résultats de l'écrit :
								</th>
								<td class="donnee_show">sample text</td>
							</tr>
							<tr>
								<th>Employés admis en écrit :</th>
								<td class="donnee_show text-danger">
									<mat-icon>picture_as_pdf</mat-icon>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row justify-content-center">
	<div class="kt-portlet portlet-1 col-md-5">
		<div class="kt-portlet__head kt-bg-portlet-2">
			<div class="kt-portlet__head-label">
				&nbsp;
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					Activité
				</h2>
			</div>
		</div>
		<div class="kt-portlet__body">
			<div class="row">
				<div class="col-md-12 show_port">
					<table class="table">
						<tbody>
							<tr>
								<th>Date début oral :</th>
								<td class="donnee_show">sample text</td>
							</tr>
							<tr>
								<th>Date fin oral :</th>
								<td class="donnee_show">sample text</td>
							</tr>
							<tr>
								<th>Heure début oral :</th>
								<td class="donnee_show">sample text</td>
							</tr>
							<tr>
								<th>Heure fin oral :</th>
								<td class="donnee_show">sample text</td>
							</tr>
							<tr>
								<th>Lieu de l'examen oral :</th>
								<td class="donnee_show">sample text</td>
							</tr>
							<tr>
								<th>Adresse :</th>
								<td class="donnee_show">sample text</td>
							</tr>
							<tr>
								<th>PV commision résultats oral :</th>
								<td class="donnee_show text-danger">
									<mat-icon>picture_as_pdf</mat-icon>
								</td>
							</tr>
							<tr>
								<th>
									Date publication des résultats de l'oral:
								</th>
								<td class="donnee_show">sample text</td>
							</tr>
							<tr>
								<th>Personnes admis en oral:</th>
								<td class="donnee_show text-danger">
									<mat-icon>picture_as_pdf</mat-icon>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="kt-portlet portlet-1 col-md-5">
		<div class="kt-portlet__head kt-bg-portlet-2">
			<div class="kt-portlet__head-label">
				&nbsp;
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					Congé
				</h2>
			</div>
		</div>
		<div class="kt-portlet__body">
			<div class="row">
				<div class="col-md-12 show_port">
					<table class="table">
						<tbody>
							<tr>
								<th>Commision final :</th>
								<td class="donnee_show text-danger">
                                    <mat-icon>picture_as_pdf</mat-icon>
                                </td>
							</tr>
							<tr>
								<th>PV commision résultats finaux :</th>
								<td class="donnee_show text-danger">
                                    <mat-icon>picture_as_pdf</mat-icon>
                                </td>
							</tr>
							<tr>
								<th>Date de publication des résultats finaux :</th>
								<td class="donnee_show text-danger">
                                    <mat-icon>picture_as_pdf</mat-icon>
                                </td>
							</tr>
							<tr>
								<th>Statut :</th>
								<td class="donnee_show">Terminé</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="kt-portlet__heads">
	<div class="kt-portlet__head-label" align="right">
		<button
			href="javascript:;"
			(click)="back()"
			_ngcontent-dkp-c41=""
			class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
		>
			<i _ngcontent-dkp-c41="" class="la la-recycle"></i>
			{{ "PAGES.GENERAL.EXIT" | translate }}
		</button>
	</div>
</div>
<div class="espace_bloc"></div>
<!-- end:: Content -->
