<div class="kt-portlet portlet-3">
	<div class="kt-portlet__head kt-bg-portlet-3">
		<div class="kt-portlet__head-label">
			<h2 class="kt-portlet__head-title kt-font-inverse-brand">
				Ajouter une compagne de notation
			</h2>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="form-group fv-plugins-icon-container">
			<mat-form-field class="example-full-width">
				<label> Libellé </label>
				<input
					matInput
					type="text"
					class="form-control"
					placeholder=""
				/>
			</mat-form-field>
			<div class="fv-plugins-message-container"></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group fv-plugins-icon-container">
			<mat-form-field class="example-full-width">
				<label>Date début </label>
				<input
					matInput
					type="date"
					class="form-control form-control-solid form-control-lg"
					name="address1"
				/>
			</mat-form-field>
			<div class="fv-plugins-message-container"></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="form-group fv-plugins-icon-container">
			<mat-form-field class="example-full-width">
				<label>Date de fin : </label>
				<input
					matInput
					type="date"
					class="form-control form-control-solid form-control-lg"
					name="address1"
				/>
			</mat-form-field>
			<div class="fv-plugins-message-container"></div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="form-group fv-plugins-icon-container">
			<mat-form-field class="example-full-width">
				<label> L'année : </label>
				<input
					matInput
					type="text"
					class="form-control form-control-solid form-control-lg"
					name="address1"
				/>
			</mat-form-field>
			<div class="fv-plugins-message-container"></div>
		</div>
	</div>
</div>

<div class="kt-portlet__heads">
	<div class="kt-portlet__head-label" align="right">
		<button
			href="javascript:; "
			(click)="back()"
			_ngcontent-dkp-c41=""
			class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
		>
			<i _ngcontent-dkp-c41="" class="la la-recycle"></i>
			Retour
		</button>
		<button
			_ngcontent-dkp-c41=""
			class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
			type="reset"
		>
			<i _ngcontent-dlp-c41 class="icon la la-floppy-o"></i>
			Enregistrer
		</button>
	</div>
</div>
