<!--begin::Form-->

<div autocomplete="off">
	<!-- {{addForm.value |json}} -->
	<div class="kt-portlet portlet-3">
		<div class="kt-portlet__head kt-bg-portlet-3">
			<div class="kt-portlet__head-label">
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					{{ "PAGES.FACTURE.TITRE_FACTURE" | translate }}
				</h2>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<label>N° du facture </label>
					<input
						matInput
						type="text"
						class="form-control form-control-solid form-control-lg"
						name="address1"
					/>
				</mat-form-field>
				<div class="fv-plugins-message-container"></div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<label> N° du recu </label>
					<input
						matInput
						type="text"
						class="form-control form-control-solid form-control-lg"
						name="address1"
					/>
				</mat-form-field>
				<div class="fv-plugins-message-container"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<label> Total à payer : </label>
					<input
						matInput
						type="text"
						class="form-control form-control-solid form-control-lg"
						name="address1"
					/>
				</mat-form-field>
				<div class="fv-plugins-message-container"></div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<label> Montant de la taxe </label>
					<input
						matInput
						type="text"
						class="form-control form-control-solid form-control-lg"
						name="address1"
					/>
				</mat-form-field>
				<div class="fv-plugins-message-container"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<label> Date de réglement </label>
					<input
						matInput
						type="date"
						class="form-control form-control-solid form-control-lg"
						name="address1"
					/>
				</mat-form-field>
				<div class="fv-plugins-message-container"></div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<label> Observation </label>
					<input
						matInput
						type="text"
						class="form-control form-control-solid form-control-lg"
						name="address1"
					/>
				</mat-form-field>
				<div class="fv-plugins-message-container"></div>
			</div>
		</div>
	</div>
	<div class="pb-5" data-wizard-type="step-content">
		<h4 class="mb-10 font-weight-bold text-dark"></h4>
		<div class="kt-portlet">
			<div class="kt-portlet__head kt-bg-portlet-5">
				<div class="kt-portlet__head-label">
					<span class="kt-portlet__head-icon">
						<i class="flaticon-attachment"></i>
					</span>
					&nbsp;
					<h3 class="kt-portlet__head-title">Piéces Jointes</h3>
				</div>
			</div>
			<div class="kt-portlet__body">
				<div class="row">
					<div class="col-md-6 show_port input-group">
						<form
							enctype="multipart/form-data"
							method="POST"
							style="
								display: -webkit-inline-box;
								margin-inline-start: 98px;
							"
						>
							<label class="input-group-btn">
								<span class="btn btn-info">
									selectionner un fichier
									<input
										type="file"
										name="file"
										formControlName="_file"
										id="customFile"
										style="display: none"
										multiple
									/>
								</span>
							</label>
							<input type="text" class="form-control" readonly />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="kt-portlet__heads">
		<div class="kt-portlet__head-label" align="right">
			<button
				href="javascript:; "
				(click)="EtapeDernier()"
				_ngcontent-dkp-c41=""
				class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
			>
				<i _ngcontent-dkp-c41="" class="la la-recycle"></i>
				{{ "PAGES.GENERAL.EXIT" | translate }}
			</button>
			<button
				_ngcontent-dkp-c41=""
				class="btn btn-danger btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
				type="reset"
			>
				<i _ngcontent-dlp-c41 class="fa fa-plus-circle"></i>
				{{ "PAGES.FACTURE.PAYER" | translate }}
			</button>
		</div>
	</div>
</div>
