<div novalidate autocomplete="off">
	<!-- {{addForm.value |json}} -->
	<div class="kt-portlet portlet-3">
		<div class="kt-portlet__head kt-bg-portlet-3">
			<div class="kt-portlet__head-label">
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					Détail Programme
				</h2>
			</div>
		</div>
	</div>

	<div class="kt-portlet__body">
		<div class="card card-custom">
			<div class="card-body p-0">
				<!--begin::Wizard-->
				<div
					class="wizard wizard-1"
					id="kt_wizard_v1"
					data-wizard-state="first"
					data-wizard-clickable="false"
				>
					<div
						class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10 mt-4"
						style="width: 70%; margin-left: 15%"
					>
						<div class="col-xl-10 col-xxl-6">
							<form action="">
								<div class="row">
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
										<mat-form-field class="example-full-width">
											<mat-label>Objet</mat-label>
											<input 	type="text"
											class="form-control form-control-solid form-control-lg"
											name="address1" value="Nom 1" disabled  matInput>
										</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>

											<mat-form-field class="example-full-width">
												<mat-label>Date</mat-label>
												<input 	type="text"
												class="form-control form-control-solid form-control-lg"
												name="address1" value="2022-06-30"  disabled matInput>
											</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>


											<mat-form-field class="example-full-width">
												<mat-label>Porteur</mat-label>
												<input 	type="text"
												class="form-control form-control-solid form-control-lg"
												name="address1" value="Porteur 1" disabled  matInput>
											</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
										<mat-form-field class="example-full-width">
											<mat-label>Consistance</mat-label>
											<input 	type="text"
											class="form-control form-control-solid form-control-lg"
											name="address1" value="Consistance 1" disabled  matInput>
										</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>


											<mat-form-field class="example-full-width">
												<mat-label>Convention</mat-label>
												<input 	type="text"
												class="form-control form-control-solid form-control-lg"
												name="address1" value="Convention 3" disabled  matInput>
											</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
									<div class="col-md-2">
										<button
										href="javascript:; "
										(click)="PP()"
										_ngcontent-dkp-c41=""
										class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
									>

										P.P
									</button>

										</div>
								</div>



								<div class="kt-portlet__heads">
									<div
										class="kt-portlet__head-label text-right"
									>
										<!-- <button _ngcontent-dkp-c41=""
		(click)="RetourEmbalages()"
		class="btn btn-info btn-md btn-tall btn-wide bg-primary kt-font-transform-u" type="reset" >
		<i _ngcontent-dkp-c41="" class="icon la la-list"></i>
		RETOUR</button> -->
										<button
											href="javascript:; "
											(click)="RetourEmbalages()"
											_ngcontent-dkp-c41=""
											class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
										>
											<i
												_ngcontent-dkp-c41=""
												class="la la-recycle"
											></i>
											Retour
										</button>

									</div>
								</div>
								<div class="espace_bloc"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

