<div class="kt-portlet">
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label">
			<h2 class="kt-portlet__head-title">
				{{ "PAGES.DEL_SDL.LIST_TYPE_INDIC_SDL" | translate }}
			</h2>
		</div>
		<div class="kt-portlet__head-toolbar">
			<div class="kt-portlet__head-wrapper">
				<div class="kt-portlet__head-actions">
					<a
						href="javascript:; "
						(click)="addTypeIndicSdl()"
						class="btn btn-outline-success btn-elevate btn-icon-sm"
					>
						<i class="la la-plus"></i> {{ "PAGES.GENERAL.AJOUTER" | translate }}
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="example-header col-md-4">
		<i class="flaticon-search-magnifier-interface-symbol text-dark"></i
		>&nbsp;
		<mat-form-field>
			<input
				matInput
				(keyup)="applyFilter($event.target.value)"
				placeholder="{{ 'PAGES.GENERAL.FILTER' | translate }}"
			/>
		</mat-form-field>
	</div>
	<table
		id="exportData"
		mat-table
		[dataSource]="dataSource"
		class="mat-elevation-z8"
		matSort
	>
		<ng-container matColumnDef="id">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Réf.</th>
			<td mat-cell *matCellDef="let row" class="num">{{ row.id }}</td>
		</ng-container>

		<ng-container matColumnDef="libelle">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "PAGES.GENERAL.LIBELLE" | translate }}</th>
			<td mat-cell *matCellDef="let row" class="libelle">
				{{ row.libelle }}
			</td>
		</ng-container>

		<ng-container matColumnDef="description">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				{{ "PAGES.GENERAL.DESCRIPTION" | translate }}
			</th>
			<td mat-cell *matCellDef="let row" class="description">
				{{ row.description }}
			</td>
		</ng-container>

		<ng-container matColumnDef="actions">
			<th
				mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				class="action"
			>
				Actions
			</th>
			<td mat-cell *matCellDef="let row" class="actionsBtn action">
				<button
					type="button"
					routerLink="/parametrages/add-type-fichier"
					class="btn btn-sm btn-clean btn-icon btn-warning btn-icon-md btn_table_edit"
					(click)="updateTypeIndicSdl(row.id)"
					matTooltip="{{ 'PAGES.GENERAL.EDIT' | translate }}"
				>
					<i class="icon la la-edit"></i>
				</button>
				<button
					type="button"
					(click)="deleteTypeIndicSdl(row.id)"
					class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete"
					matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}"
				>
					<i class="icon la la-trash"></i>
				</button>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		<!-- footer data -->
	</table>
	<div
		*ngIf="dataSource.data.length == 0 && isLoading == false"
		style="
			display: flex;
			justify-content: center;
			padding: 2%;
			color: orangered;
		"
	>
		{{ "PAGES.GENERAL.NO_RECORDS" | translate }}
	</div>
	<mat-paginator
		*ngIf="dataSource != undefined && dataSource.data != undefined"
		[length]="dataSource.data.length"
		[pageSize]="5"
		[pageIndex]="0"
		[pageSizeOptions]="[5, 10, 50]"
		showFirstLastButtons
	></mat-paginator>
	<hr />
</div>
