/* EXPORT OPTIONS */

.fixe {
	text-align: right !important;
}

.btn-export {
	color: #ffffff !important;
	background-color: #3875e7 !important;
	padding: 5px 20px !important;
}

.export-align {
	margin-left: 4% !important;
}

.agence {
	width: 15% !important;
}

.actionsBtn {
	width: 15% !important;
	padding: 0 10px 0 0;
}

/* Pading row table*/

.action {
	width: 16% !important;
}
