<div novalidate autocomplete="off">
	<!-- {{addForm.value |json}} -->
	<div class="kt-portlet portlet-3">
		<div class="kt-portlet__head kt-bg-portlet-3">
			<div class="kt-portlet__head-label">
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					Détail AO
				</h2>
			</div>
		</div>
	</div>

	<div class="kt-portlet__body">
		<div class="card card-custom">
			<div class="card-body p-0">
				<!--begin::Wizard-->
				<div
					class="wizard wizard-1"
					id="kt_wizard_v1"
					data-wizard-state="first"
					data-wizard-clickable="false"
				>
					<div
						class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10 mt-4"
						style="width: 70%; margin-left: 15%"
					>
						<div class="col-xl-10 col-xxl-6">
							<form action="">
								<div class="row">
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
											<mat-form-field
												class="example-full-width"
											>
												<mat-label>Numéro PP</mat-label>
												<input
													type="text"
													class="form-control form-control-solid form-control-lg"
													name="address1"
													disabled
													value="--"
													matInput
												/>
											</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
											<mat-form-field
												class="example-full-width"
											>
												<mat-label>Projet</mat-label>
												<input
													type="text"
													class="form-control form-control-solid form-control-lg"
													name="address1"
													disabled
													value="Projet 1"
													matInput
												/>
											</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
											<mat-form-field
												class="example-full-width"
											>
												<mat-label
													>Organisme</mat-label
												>
												<input
													type="text"
													class="form-control form-control-solid form-control-lg"
													name="address1"
													disabled
													value="Organisme 3"
													matInput
												/>
											</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
											<mat-form-field
												class="example-full-width"
											>
												<mat-label
													>Prestation</mat-label
												>
												<input
													type="text"
													class="form-control form-control-solid form-control-lg"
													name="address1"
													disabled
													value="Prestation 3"
													matInput
												/>
											</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
											<mat-form-field
												class="example-full-width"
											>
												<mat-label
													>Type prestation</mat-label
												>
												<input
													type="text"
													class="form-control form-control-solid form-control-lg"
													name="address1"
													disabled
													value="Type prestation 3"
													matInput
												/>
											</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
											<mat-form-field
												class="example-full-width"
											>
												<mat-label
													>Budget estimatif</mat-label
												>
												<input
													type="text"
													class="form-control form-control-solid form-control-lg"
													name="address1"
													disabled
													value="Budget estimatif 3"
													matInput
												/>
											</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
											<mat-form-field
												class="example-full-width"
											>
												<mat-label>Objet</mat-label>
												<input
													type="text"
													class="form-control form-control-solid form-control-lg"
													name="address1"
													disabled
													value="Objet 3"
													matInput
												/>
											</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
											<mat-form-field
												class="example-full-width"
											>
												<mat-label>Objet AR</mat-label>
												<input
													type="text"
													class="form-control form-control-solid form-control-lg"
													name="address1"
													disabled
													value="Objet AR 3"
													matInput
												/>
											</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
											<mat-form-field
												class="example-full-width"
											>
												<mat-label>Division</mat-label>
												<input
													type="text"
													class="form-control form-control-solid form-control-lg"
													name="address1"
													disabled
													value="Division 3"
													matInput
												/>
											</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
											<mat-form-field
												class="example-full-width"
											>
												<mat-label>Service</mat-label>
												<input
													type="text"
													class="form-control form-control-solid form-control-lg"
													name="address1"
													disabled
													value="Service 3"
													matInput
												/>
											</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
											<mat-form-field
												class="example-full-width"
											>
												<mat-label
													>Type Marche</mat-label
												>
												<input
													type="text"
													class="form-control form-control-solid form-control-lg"
													name="address1"
													disabled
													value="Marche 3"
													matInput
												/>
											</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
											<mat-form-field
												class="example-full-width"
											>
												<mat-label>Nature AO</mat-label>
												<input
													type="text"
													class="form-control form-control-solid form-control-lg"
													name="address1"
													disabled
													value="Nature AO 3"
													matInput
												/>
											</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
											<mat-form-field
												class="example-full-width"
											>
												<mat-label
													>Nature de Prix</mat-label
												>
												<input
													type="text"
													class="form-control form-control-solid form-control-lg"
													name="address1"
													disabled
													value="Nature 3"
													matInput
												/>
											</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
											<mat-form-field
												class="example-full-width"
											>
												<mat-label>Coution</mat-label>
												<input
													type="text"
													class="form-control form-control-solid form-control-lg"
													name="address1"
													disabled
													value="Coution 3"
													matInput
												/>
											</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
											<mat-form-field
												class="example-full-width"
											>
												<mat-label
													>Piéce de
													justificative</mat-label
												>
												<input
													type="text"
													class="form-control form-control-solid form-control-lg"
													name="address1"
													disabled
													value="Piéce 3"
													matInput
												/>
											</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
											<mat-form-field
												class="example-full-width"
											>
												<mat-label
													>Déscriptive</mat-label
												>
												<input
													type="text"
													class="form-control form-control-solid form-control-lg"
													name="address1"
													disabled
													value="Déscriptive 3"
													matInput
												/>
											</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div
											class="form-group fv-plugins-icon-container"
										>
											<mat-form-field
												class="example-full-width"
											>
												<mat-label
													>Convention</mat-label
												>
												<input
													type="text"
													class="form-control form-control-solid form-control-lg"
													name="address1"
													disabled
													value="Convention 3"
													matInput
												/>
											</mat-form-field>
											<div
												class="fv-plugins-message-container"
											></div>

											<div
												class="fv-plugins-message-container"
											></div>
										</div>
									</div>
									<div class="col-md-2">
										<button
											href="javascript:; "
											(click)="PP()"
											_ngcontent-dkp-c41=""
											class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
										>
											P.P
										</button>
									</div>
								</div>
								<div class="kt-portlet__heads">
									<div
										class="kt-portlet__head-label text-right"
									>
										<button
											href="javascript:; "
											(click)="RetourEmbalages()"
											_ngcontent-dkp-c41=""
											class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
										>
											<i
												_ngcontent-dkp-c41=""
												class="la la-recycle"
											></i>
											Retour
										</button>
									</div>
								</div>
								<div class="espace_bloc"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
