<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h2 class="kt-portlet__head-title">
                List Projet
            </h2>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">

                    <a href="javascript:; " (click)="addAssociation()" class="btn btn-success btn-elevate btn-icon-sm">
                        <i class="la la-plus"></i> Ajouter
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="example-header  col-md-4">
        <i class="flaticon-search-magnifier-interface-symbol text-dark"></i>&nbsp;
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)"
                placeholder="{{ 'PAGES.GENERAL.FILTER' | translate }}">
        </mat-form-field>
    </div>
    <table id="exportData" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ 'PAGES.TYPE_ALERT.Id' | translate }}</th>
            <td mat-cell *matCellDef="let row" class="num"> {{row.Id}} </td>
        </ng-container>
		<ng-container matColumnDef="Nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Objet
            </th>
            <td mat-cell *matCellDef="let row" class="Nom">
                {{ row.Nom? ((row.Nom.length>20)? (row.Nom | slice:0:17)+ '...':(row.Nom)) : "-" }}
            </td>
        </ng-container>
		<ng-container matColumnDef="Annee">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Année
            </th>
            <td mat-cell *matCellDef="let row" class="Annee">
                {{ row.Annee? ((row.Annee.length>20)? (row.Annee | slice:0:17)+ '...':(row.Annee)) : "-" }}
            </td>
        </ng-container>
		<ng-container matColumnDef="Duree">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
				Durée(Mois)
            </th>
            <td mat-cell *matCellDef="let row" class="Duree">
	            {{ row.Duree? ((row.Duree.length>20)? (row.Duree | slice:0:17)+ '...':(row.Duree)) : "-" }}
            </td>
        </ng-container>
        <ng-container matColumnDef="Cant">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
				Consistance
            </th>
            <td mat-cell *matCellDef="let row" class="Cant">
                {{ row.Cant? ((row.Cant.length>20)? (row.Cant | slice:0:17)+ '...':(row.Cant)) : "-" }}
            </td>
        </ng-container><ng-container matColumnDef="Programme">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
				Programme
            </th>
            <td mat-cell *matCellDef="let row" class="Programme">
                {{ row.Programme? ((row.Programme.length>20)? (row.Programme | slice:0:17)+ '...':(row.Programme)) : "-" }}
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="action"> Actions </th>
            <td mat-cell *matCellDef="let row" class="actionsBtn action">
                <button type="button" routerLink="/parametrages/add-type-fichier"
                    class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show"
                    (click)="DetailAssociation()"
					matTooltip="{{ 'PAGES.GENERAL.DETAILS' | translate }}"><i
                        class="icon la la-search-plus"></i></button>
                <button type="button" routerLink="/parametrages/add-type-fichier"
                (click)="ModifierAssociation()"
				class="btn btn-sm btn-clean btn-icon btn-warning btn-icon-md btn_table_edit"
                    matTooltip="{{ 'PAGES.GENERAL.EDIT' | translate }}"><i class="icon la la-edit"></i></button>
                <button type="button" (click)="deleteAssociation(row.id)"
                    class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete"
                    matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}"><i class="icon la la-trash"></i></button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- footer data -->
    </table>
    <div *ngIf="dataSource.data.length == 0 && isLoading == false"
        style="display: flex;justify-content: center;padding: 2%;color: orangered;">
        {{ 'PAGES.GENERAL.NO_RECORDS' | translate }}
    </div>
    <mat-paginator *ngIf="dataSource != undefined &&  dataSource.data != undefined " [length]="dataSource.data.length"
        [pageSize]="5" [pageIndex]="0" [pageSizeOptions]="[5,10,50]" showFirstLastButtons></mat-paginator>
    <hr>
</div>
