<div novalidate autocomplete="off">
	<!-- {{addForm.value |json}} -->
	<div class="kt-portlet portlet-3">
		<div class="kt-portlet__head kt-bg-portlet-3">
			<div class="kt-portlet__head-label">
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					Modifier A.O
				</h2>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<mat-label>Numéro de AO</mat-label>
					<input
						type="number"
						class="form-control-solid form-control-lg"
						name="address1"
						min="0"
						matInput
					/>
				</mat-form-field>
				<div class="fv-plugins-message-container"></div>

				<div class="fv-plugins-message-container"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xl-12 col-xxl-6">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group fv-plugins-icon-container">
						<div
							class="Radio"
							style="
								display: flex;
								flex-wrap: wrap;
								margin-right: -15px;
								margin-left: -15px;
								justify-content: center;
							"
						>
							<div class="col-md-4">
								<div
									class="form-group fv-plugins-icon-container"
								>
									<input
										class="form-check-input"
										type="radio"
										[(ngModel)]="isVisible"
										name="isVisible1"
										[value]="0"
										[checked]="!isSelected"
									/>
									<label>
										<h5>Aucun Projet</h5>
									</label>
								</div>
							</div>

							<div class="col-md-4">
								<div
									class="form-group fv-plugins-icon-container"
								>
									<input
										class="form-check-input"
										type="radio"
										[(ngModel)]="isVisible"
										name="isVisible1"
										[value]="1"
										[checked]="isSelected"
									/>
									<label>
										<h5>Projet</h5>
									</label>
								</div>
							</div>
						</div>

						<div
							class="m-6 text-center purple"
							*ngIf="isVisible == 1"
						>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<mat-form-field
											class="example-full-width"
										>
											<mat-select
												[(value)]="selected"
												class="form-control-lg"
												placeholder="Projet"
											>
												<mat-option value="option 1"
													>Projet A</mat-option
												>
												<mat-option value="option 2"
													>Projet B</mat-option
												>
												<mat-option value="option 3"
													>Projet C</mat-option
												>
												<mat-option value="option 4"
													>Prjet D
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div
									class="form-group fv-plugins-icon-container"
								>
									<mat-form-field class="example-full-width">
										<mat-label>Organisme</mat-label>
										<mat-select
											class="form-control-lg"
											[(ngModel)]="Presentation"
											placeholder=""
										>
											<mat-option [value]="1"
												>Organisme A</mat-option
											>
											<mat-option [value]="2"
												>Organisme B</mat-option
											>
											<mat-option [value]="3"
												>Organisme C</mat-option
											>
											<mat-option [value]="4"
												>Organisme D
											</mat-option>
										</mat-select>
									</mat-form-field>
									<div
										class="fv-plugins-message-container"
									></div>

									<div
										class="fv-plugins-message-container"
									></div>
								</div>
							</div>
							<div class="col-md-4">
								<div
									class="form-group fv-plugins-icon-container"
								>
									<mat-form-field class="example-full-width">
										<mat-label>Prestation</mat-label>
										<mat-select
											class="form-control-lg"
											[(ngModel)]="Type"
											placeholder=""
										>
											<mat-option
												*ngIf="Presentation == 1"
												[value]="1"
												>Prestation A</mat-option
											>
											<mat-option
												*ngIf="Presentation == 2"
												[value]="2"
												>Prestation B</mat-option
											>
											<mat-option
												*ngIf="Presentation == 3"
												[value]="3"
												>Prestation C</mat-option
											>
											<mat-option
												*ngIf="Presentation == 4"
												[value]="4"
												>Prestation D</mat-option
											>
										</mat-select>
									</mat-form-field>
									<div
										class="fv-plugins-message-container"
									></div>

									<div
										class="fv-plugins-message-container"
									></div>
								</div>
							</div>
							<div class="col-md-4">
								<div
									class="form-group fv-plugins-icon-container"
								>
									<mat-form-field class="example-full-width">
										<mat-label>Type prestation</mat-label>
										<mat-select
											class="form-control-lg"
											[(ngModel)]="Type"
											placeholder=""
										>
											<mat-option
												*ngIf="Type == 1"
												[value]="1"
												>Type prestation A</mat-option
											>
											<mat-option
												*ngIf="Type == 2"
												[value]="2"
												>Type prestation B</mat-option
											>
											<mat-option
												*ngIf="Type == 3"
												[value]="3"
												>Type prestation C</mat-option
											>
											<mat-option
												*ngIf="Type == 4"
												[value]="4"
												>Type prestation D
											</mat-option>
										</mat-select>
									</mat-form-field>
									<div
										class="fv-plugins-message-container"
									></div>

									<div
										class="fv-plugins-message-container"
									></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div
									class="form-group fv-plugins-icon-container"
								>
									<mat-form-field class="example-full-width">
										<mat-label>Budget estimatif</mat-label>
										<input
											type="text"
											value="Budget 1"
											class="form-control-solid form-control-lg"
											name="address1"
											matInput
										/>
									</mat-form-field>
									<div
										class="fv-plugins-message-container"
									></div>

									<div
										class="fv-plugins-message-container"
									></div>
								</div>
							</div>
							<div class="col-md-6">
								<div
									class="form-group fv-plugins-icon-container"
								>
									<mat-form-field class="example-full-width">
										<mat-label>Estimation</mat-label>
										<input
											type="text"
											value="esmtimation"
											class="form-control-solid form-control-lg"
											name="address1"
											matInput
										/>
									</mat-form-field>
									<div
										class="fv-plugins-message-container"
									></div>

									<div
										class="fv-plugins-message-container"
									></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div
									class="form-group fv-plugins-icon-container"
								>
									<mat-form-field class="example-full-width">
										<mat-label>Objet * </mat-label>
										<input
											type="text"
											value="Object 2"
											class="form-control-solid form-control-lg"
											name="address1"
											matInput
										/>
									</mat-form-field>
									<div
										class="fv-plugins-message-container"
									></div>

									<div
										class="fv-plugins-message-container"
									></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div
									class="form-group fv-plugins-icon-container"
								>
									<mat-form-field class="example-full-width">
										<mat-label>Objet AR * </mat-label>
										<input
											type="text"
											value="Object AR 1"
											class="form-control-solid form-control-lg"
											name="address1"
											matInput
										/>
									</mat-form-field>
									<div
										class="fv-plugins-message-container"
									></div>

									<div
										class="fv-plugins-message-container"
									></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-3">
								<div
									class="form-group fv-plugins-icon-container"
								>
									<mat-form-field class="example-full-width">
										<mat-label>Division</mat-label>
										<mat-select
											class="form-control-lg"
											[(ngModel)]="A"
											placeholder=""
										>
											<mat-option [value]="1"
												>Division A</mat-option
											>
											<mat-option [value]="2"
												>Division B</mat-option
											>
											<mat-option [value]="3"
												>Division C</mat-option
											>
											<mat-option [value]="4"
												>Division D</mat-option
											>
										</mat-select>
									</mat-form-field>
									<div
										class="fv-plugins-message-container"
									></div>

									<div
										class="fv-plugins-message-container"
									></div>
								</div>
							</div>
							<div class="col-md-3">
								<div
									class="form-group fv-plugins-icon-container"
								>
									<mat-form-field class="example-full-width">
										<mat-label>Service</mat-label>
										<mat-select
											class="form-control-lg"
											[(ngModel)]="A"
											placeholder=""
										>
											<mat-option [value]="1"
												>Service A</mat-option
											>
											<mat-option [value]="2"
												>Service B</mat-option
											>
											<mat-option [value]="3"
												>Service C</mat-option
											>
											<mat-option [value]="4"
												>Service D</mat-option
											>
										</mat-select>
									</mat-form-field>
									<div
										class="fv-plugins-message-container"
									></div>

									<div
										class="fv-plugins-message-container"
									></div>
								</div>
							</div>
							<div class="col-md-3">
								<div
									class="form-group fv-plugins-icon-container"
								>
									<mat-form-field class="example-full-width">
										<mat-label>Type Marche</mat-label>
										<mat-select
											class="form-control-lg"
											[(ngModel)]="A"
											placeholder=""
										>
											<mat-option [value]="1"
												>Type Marche A</mat-option
											>
											<mat-option [value]="2"
												>Type Marche B</mat-option
											>
											<mat-option [value]="3"
												>Type Marche C</mat-option
											>
											<mat-option [value]="4"
												>Type Marche D
											</mat-option>
										</mat-select>
									</mat-form-field>
									<div
										class="fv-plugins-message-container"
									></div>

									<div
										class="fv-plugins-message-container"
									></div>
								</div>
							</div>
							<div class="col-md-3">
								<div
									class="form-group fv-plugins-icon-container"
								>
									<mat-form-field class="example-full-width">
										<mat-label>Nature AO</mat-label>
										<mat-select
											class="form-control-lg"
											[(ngModel)]="A"
											placeholder=""
										>
											<mat-option [value]="3"
												>Nature AO A</mat-option
											>
											<mat-option [value]="4"
												>Nature AO B</mat-option
											>
											<mat-option [value]="2"
												>Nature AO C</mat-option
											>
											<mat-option [value]="1"
												>Nature AO D
											</mat-option>
										</mat-select>
									</mat-form-field>
									<div
										class="fv-plugins-message-container"
									></div>

									<div
										class="fv-plugins-message-container"
									></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-3">
								<div
									class="form-group fv-plugins-icon-container"
								>
									<mat-form-field class="example-full-width">
										<mat-label>Nature de prix</mat-label>
										<mat-select
											class="form-control-lg"
											[(ngModel)]="A"
											placeholder=""
										>
											<mat-option [value]="2"
												>Prix A</mat-option
											>
											<mat-option [value]="1"
												>Prix B</mat-option
											>
										</mat-select>
									</mat-form-field>
									<div
										class="fv-plugins-message-container"
									></div>

									<div
										class="fv-plugins-message-container"
									></div>
								</div>
							</div>
							<div class="col-md-3">
								<div
									class="form-group fv-plugins-icon-container"
								>
									<mat-form-field class="example-full-width">
										<mat-label>Coution * </mat-label>
										<input
											type="text"
											value="Coution 3"
											class="form-control-solid form-control-lg"
											name="address1"
											matInput
										/>
									</mat-form-field>
									<div
										class="fv-plugins-message-container"
									></div>

									<div
										class="fv-plugins-message-container"
									></div>
								</div>
							</div>
							<div class="col-md-3">
								<div
									class="form-group fv-plugins-icon-container"
								>
									<mat-form-field class="example-full-width">
										<mat-label
											>Piéce justificative du
											régulment</mat-label
										>
										<mat-select
											class="form-control-lg"
											[(ngModel)]="A"
											placeholder=""
										>
											<mat-option [value]="2"
												>Piéce A</mat-option
											>
											<mat-option [value]="1"
												>Piéce B</mat-option
											>
										</mat-select>
									</mat-form-field>
									<div
										class="fv-plugins-message-container"
									></div>

									<div
										class="fv-plugins-message-container"
									></div>
								</div>
							</div>
							<div class="col-md-3">
								<div
									class="form-group fv-plugins-icon-container"
								>
									<mat-form-field class="example-full-width">
										<mat-label>Descriptive </mat-label>
										<input
											type="text"
											value="Descriptive 3"
											class="form-control-solid form-control-lg"
											name="address1"
											matInput
										/>
									</mat-form-field>
									<div
										class="fv-plugins-message-container"
									></div>

									<div
										class="fv-plugins-message-container"
									></div>
								</div>
							</div>
						</div>

						<div
							class="Radio Row"
							style="
								display: flex;
								flex-wrap: wrap;
								margin-right: -15px;
								margin-left: -15px;
								justify-content: center;
							"
						>
							<div class="col-md-4">
								<div
									class="form-group fv-plugins-icon-container"
								>
									<input
										class="form-check-input"
										type="radio"
										[(ngModel)]="Visible"
										name="Visible1"
										[value]="0"
										[checked]="!isSelected"
									/>
									<label>
										<h5>Aucun Convention</h5>
									</label>
								</div>
							</div>

							<div class="col-md-4">
								<div
									class="form-group fv-plugins-icon-container"
								>
									<input
										class="form-check-input"
										type="radio"
										[(ngModel)]="Visible"
										name="Visible1"
										[value]="1"
										[checked]="isSelected"
									/>
									<label>
										<h5>Convention</h5>
									</label>
								</div>
							</div>
						</div>

						<div
							class="m-6 text-center purple"
							*ngIf="Visible == 1"
						>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<mat-form-field
											class="example-full-width"
										>
											<mat-select
												class="form-control-lg"
												[(ngModel)]="B"
												placeholder="Convention"
											>
												<mat-option [value]="1"
													>Convention A</mat-option
												>
												<mat-option [value]="2"
													>Convention B</mat-option
												>
												<mat-option [value]="3"
													>Convention C</mat-option
												>
												<mat-option [value]="5"
													>Convention D
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
							</div>
						</div>

						<br />

						<br />
						<br />

						<div class="kt-portlet__heads">
							<div class="kt-portlet__head-label text-right">
								<button
									href="javascript:; "
									(click)="RetourEmbalages()"
									_ngcontent-dkp-c41=""
									class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
								>
									<i
										_ngcontent-dkp-c41=""
										class="la la-recycle"
									></i>
									Retour
								</button>
								<button
									_ngcontent-dkp-c41=""
									class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
								>
									<i
										_ngcontent-dlp-c41
										class="icon la la-floppy-o"
									></i>
									ENREGISTRER
								</button>
							</div>
						</div>
						<div class="espace_bloc"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
