<!-- begin:: Brand -->
<div class="kt-header__brand kt-grid__item" id="kt_header_brand">
	<div class="kt-header__brand-logo">
		<a href="javascript:;" routerLink="/">
			<img
				alt="logo"
				src="./assets/media/logos/logo-6-sm.png"
				class="kt-header__brand-logo-default"
			/>
			<img
				alt="logo"
				src="./assets/media/logos/logo-6-sm.png"
				No
				class="kt-header__brand-logo-sticky"
			/>
		</a>
	</div>
	<div class="kt-header__brand-nav">
		<div ngbDropdown class="dropdown">
			<button
				class="btn btn-default dropdown-toggle"
				id="ddlDashboard"
				ngbDropdownToggle
				type="button"
			>
				Menu Principal
			</button>
			<!-- **************************Benouahi********************************************************** -->

			<div
				ngbDropdownMenu
				class="dropdown-menu dropdown-menu-md"
				aria-labelledby="ddlDashboard"
			>
				<ul class="kt-nav kt-nav--bold kt-nav--md-space kt-nav--v3">
					<li class="kt-nav__item">
						<a
							(click)="menuHorService.clickMenu(1)"
							class="kt-nav__link active"
							href="javascript:;"
						>
							<span class="kt-nav__link-icon"
								><i
									class="fa fa-briefcase"
									aria-hidden="true"
								></i
							></span>
							<span class="kt-nav__link-text">
								Délégataire/SDL
							</span>
						</a>
					</li>

					<!-- <li class="kt-nav__item">
						<a
							class="kt-nav__link active"
							(click)="menuHorService.clickMenu(3)"
							href="javascript:;"
						>
							<span class="kt-nav__link-icon">
								<i
									class="fa fa-cart-arrow-down"
									aria-hidden="true"
								></i
							></span>
							<span class="kt-nav__link-text">
								Marché de Gros
							</span>
						</a>
					</li>

					<li class="kt-nav__item">
						<a
							class="kt-nav__link active"
							(click)="menuHorService.clickMenu(2)"
							href="javascript:;"
						>
							<span class="kt-nav__link-icon"
								><i
									class="fa fa-balance-scale"
									aria-hidden="true"
								></i
							></span>
							<span class="kt-nav__link-text"> Contentieux </span>
						</a>
					</li>

					<li class="kt-nav__item">
						<a
							class="kt-nav__link active"
							(click)="menuHorService.clickMenu(4)"
							href="javascript:;"
						>
							<span class="kt-nav__link-icon"
								><i class="fa fa-users" aria-hidden="true"></i
							></span>
							<span class="kt-nav__link-text"> RH </span>
						</a>
					</li>

					<li class="kt-nav__item">
						<a
							class="kt-nav__link active"
							(click)="menuHorService.clickMenu(5)"
							href="javascript:;"
						>
							<span class="kt-nav__link-icon"
								><i class="fa fa-truck" aria-hidden="true"></i
							></span>
							<span class="kt-nav__link-text"> Abattoirs </span>
						</a>
					</li> -->
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- end:: Brand -->
