<!-- begin:: Footer -->
<div class="kt-footer kt-footer--extended  kt-grid__item"  id="kt_footer"
 >

 <div style="position: absolute; width: 100% ;">

	<div class="kt-footer__bottom"  >
		<div class="kt-container" [ngClass]="{ 'kt-container--fluid': fluid }">
			<div class="kt-footer__wrapper">
				<div class="kt-footer__logo">
					<div class="kt-footer__copyright">
						{{ today | date: "yyyy" }}&nbsp;©&nbsp;
						<!-- ANCFCC --->
						{{ "PAGES.GENERAL.CREER_PAR" | translate }}
						<a href="https://optimgov.com/" target="_blank"
							>OptimGov</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- end:: Footer -->
