<div class="kt-portlet portlet-3">
	<div class="kt-portlet__head kt-bg-portlet-3">
		<div class="kt-portlet__head-label">
			<h2 class="kt-portlet__head-title kt-font-inverse-brand">
				Modifier les informations de personnel
			</h2>
		</div>
	</div>
</div>
<mat-horizontal-stepper #stepper>
	<mat-step label="Etape 1">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> Nom </label>
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder=""
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> Prénom </label>
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder=""
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> Division </label>
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder=""
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> Service </label>
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder=""
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> CIN </label>
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder=""
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<div class="input-group date">
						<mat-form-field class="example-full-width">
							<label> Poste </label>
							<input
								value="sample text"
								matInput
								type="text"
								class="form-control"
								placeholder=""
							/>
						</mat-form-field>
					</div>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<div class="input-group date">
						<mat-form-field class="example-full-width">
							<label> Date de naissance </label>
							<input
								value="2022-09-06"
								matInput
								type="date"
								class="form-control"
								placeholder=""
							/>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> Tel domicile </label>
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder=""
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<div class="input-group date">
						<mat-form-field class="example-full-width">
							<label> Matricule </label>
							<input
								value="sample text"
								matInput
								type="text"
								class="form-control"
								placeholder=""
							/>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> Grade </label>
						<mat-select
							class="form-control"
							formControlName="statut"
						>
							<mat-option> grade1 </mat-option>
							<mat-option> grade2 </mat-option>
						</mat-select>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<div class="input-group">
						<mat-form-field class="example-full-width">
							<label> Echelle </label>
							<mat-select
								class="form-control"
								formControlName="statut"
							>
								<mat-option> echelle1 </mat-option>
								<mat-option> echelle2 </mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> Echelon </label>
						<mat-select
							class="form-control"
							formControlName="statut"
						>
							<mat-option> echelon1 </mat-option>
							<mat-option> echelon2 </mat-option>
						</mat-select>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>

		<div class="kt-portlet__heads">
			<div class="kt-portlet__head-label" align="right">
				<button
					mat-button
					(click)="EtapeDernier()"
					type="button"
					class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
				>
					<i class="la la-recycle"></i>
					Retour
				</button>
				<button
					mat-button
					matStepperNext
					type="button"
					class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
				>
					<i class="fa fa-plus-circle"></i>
					Suivant
				</button>
			</div>
		</div>
	</mat-step>
	<mat-step label="Etape 2">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> Régime de retraite </label>
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder=""
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> N° d'affiliation </label>
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder=""
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> Date d'affiliation </label>
						<input
							value="2022-09-06"
							matInput
							type="date"
							class="form-control"
							placeholder=""
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> Personne à contacter en cas de malaise </label>
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder=""
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> Situation familiale </label>
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder=""
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<div class="input-group">
						<mat-form-field class="example-full-width">
							<label> Affliation syndicale </label>
							<input
								value="sample text"
								matInput
								type="text"
								class="form-control"
								placeholder=""
							/>
						</mat-form-field>
					</div>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<div class="input-group date">
						<mat-form-field class="example-full-width">
							<label>
								Date(de mariage, de divorce, de perte de
								conjoint)
							</label>
							<input
								value="2022-09-06"
								matInput
								type="date"
								class="form-control"
								placeholder=""
							/>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> Tel domicile </label>
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder=""
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<div class="input-group date">
						<mat-form-field class="example-full-width">
							<label> Nom du conjoint </label>
							<input
								value="sample text"
								matInput
								type="text"
								class="form-control"
								placeholder=""
							/>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> Prénom du conjoint </label>
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder=""
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<div class="input-group">
						<mat-form-field class="example-full-width">
							<label> CIN du conjoint </label>
							<input
								value="sample text"
								matInput
								type="text"
								class="form-control"
								placeholder=""
							/>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> Adresse du conjoint </label>
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder=""
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>

		<div class="kt-portlet__heads">
			<div class="kt-portlet__head-label" align="right">
				<button
					mat-button
					matStepperPrevious
					type="button"
					class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
				>
					<i class="la la-recycle"></i>
					Retour
				</button>
				<button
					mat-button
					matStepperNext
					type="button"
					class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
				>
					<i class="fa fa-plus-circle"></i>
					Suivant
				</button>
			</div>
		</div>
	</mat-step>
	<mat-step label="Etape 3">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> Organisme du conjoint </label>
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder=""
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> Nombre d'enfants masculin </label>
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder=""
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> Nombre d'enfants féminin </label>
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder=""
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> Durée prévue du service </label>
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder=""
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> Date prise de service </label>
						<input
							value="2022-09-06"
							matInput
							type="date"
							class="form-control"
							placeholder=""
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<div class="input-group date">
						<mat-form-field class="example-full-width">
							<label> Date titulation </label>
							<input
								value="2022-09-06"
								matInput
								type="date"
								class="form-control"
								placeholder=""
							/>
						</mat-form-field>
					</div>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<div class="input-group date">
						<mat-form-field class="example-full-width">
							<label> Niveau Académique </label>
							<input
								value="sample text"
								matInput
								type="text"
								class="form-control"
								placeholder=""
							/>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> Diplome </label>
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder=""
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<div class="input-group date">
						<mat-form-field class="example-full-width">
							<label> Ancien recruteur </label>
							<input
								value="sample text"
								matInput
								type="text"
								class="form-control"
								placeholder=""
							/>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> Responsable </label>
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder=""
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<div class="input-group date">
						<mat-form-field class="example-full-width">
							<label> Responsable fonctionnel </label>
							<input
								value="sample text"
								matInput
								type="text"
								class="form-control"
								placeholder=""
							/>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<label> Type de mutuelle </label>
						<input
							value="sample text"
							matInput
							type="text"
							class="form-control"
							placeholder=""
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>

		<div class="kt-portlet__heads">
			<div class="kt-portlet__head-label" align="right">
				<button
					mat-button
					matStepperPrevious
					type="button"
					class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
				>
					<i class="la la-recycle"></i>
					Retour
				</button>
				<button
					mat-button
					type="button"
					class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
				>
					<i class="icon la la-floppy-o"></i>
					Enregistrer
				</button>
			</div>
		</div>
	</mat-step>
</mat-horizontal-stepper>
