<!-- begin:: Content -->
<div class="kt-portlet portlet-1 col-md-12">
	<div class="kt-portlet__head kt-bg-portlet-2">
		<div class="kt-portlet__head-label">
			&nbsp;
			<h2 class="kt-portlet__head-title kt-font-inverse-brand">
				Les abcences de Mr ........
			</h2>
		</div>
		<!-- <div class="kt-portlet__head-toolbar">
			<div class="kt-portlet__head-wrapper">
				<div class="kt-portlet__head-actions">
					<a
						href="javascript:; "
						(click)="add_absence()"
						class="btn btn-success btn-elevate btn-icon-sm"
					>
						Ajouter absence
					</a>
				</div>
			</div>
		</div> -->
	</div>
</div>

<div class="row justify-content-center">
	<div class="kt-portlet portlet-1 col-md-6">
		<div class="kt-portlet__head kt-bg-portlet-2">
			<div class="kt-portlet__head-label">
				&nbsp;
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					Absence certifié
				</h2>
			</div>
		</div>
		<div class="kt-portlet__body">
			<div class="row">
				<div class="col-12 show_port">
					<table class="table">
						<tbody>
							<tr>
								<th>N° :</th>
								<th>Nombre de jours :</th>
								<th>Date d'absence :</th>
								<th>Date de retour :</th>
								<th>PJ :</th>
								<th>Sanction :</th>
							</tr>
							<tr>
								<td class="donnee_show">1</td>
								<td class="donnee_show">sample text</td>
								<td class="donnee_show">sample text</td>
								<td class="donnee_show">sample text</td>
								<td class="donnee_show text-danger">
									<mat-icon>picture_as_pdf</mat-icon>
								</td>
								<td class="donnee_show text-danger">
									<i class="icon la la-search-plus"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="kt-portlet portlet-1 col-md-6">
		<div class="kt-portlet__head kt-bg-portlet-2">
			<div class="kt-portlet__head-label">
				&nbsp;
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					Absence non certifié
				</h2>
			</div>
		</div>
		<div class="kt-portlet__body">
			<div class="row">
				<div class="col-12 show_port">
					<table class="table">
						<tbody>
							<tr>
								<th>N° :</th>
								<th>Nombre de jours :</th>
								<th>Date d'absence :</th>
								<th>Date de retour :</th>
								<th>PJ :</th>
								<th>Sanction :</th>
								<th>Commision descipline :</th>
							</tr>
							<tr>
								<td class="donnee_show">1</td>
								<td class="donnee_show">sample text</td>
								<td class="donnee_show">sample text</td>
								<td class="donnee_show">sample text</td>
								<td class="donnee_show text-danger">
									<mat-icon>picture_as_pdf</mat-icon>
								</td>
								<td class="donnee_show text-danger">
									<i class="icon la la-search-plus"></i>
								</td>
								<td class="donnee_show text-danger">
									<i class="icon la la-search-plus"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- END DETAILS ASSOCIATION -->
		</div>
	</div>
</div>

<div class="kt-portlet__heads">
	<div class="kt-portlet__head-label" align="right">
		<button
			href="javascript:;"
			(click)="back()"
			_ngcontent-dkp-c41=""
			class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
		>
			<i _ngcontent-dkp-c41="" class="la la-recycle"></i>
			{{ "PAGES.GENERAL.EXIT" | translate }}
		</button>
	</div>
</div>
<div class="espace_bloc"></div>
<!-- end:: Content -->
