<div class="kt-portlet">
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label">
			<h2 class="kt-portlet__head-title">
				Liste des demandes de retraité ancticipée
			</h2>
		</div>
		<div class="kt-portlet__head-toolbar">
			<div class="kt-portlet__head-wrapper">
				<div class="kt-portlet__head-actions">
					<a
						href="javascript:; "
						(click)="add()"
						class="btn btn-success btn-elevate btn-icon-sm"
					>
						<i class="la la-plus"></i> Ajouter
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="example-header col-md-4">
		<i class="flaticon-search-magnifier-interface-symbol text-dark"></i
		>&nbsp;
		<mat-form-field>
			<input
				matInput
				(keyup)="applyFilter($event.target.value)"
				placeholder="{{ 'PAGES.GENERAL.FILTER' | translate }}"
			/>
		</mat-form-field>
	</div>
	<table
		id="exportData"
		mat-table
		[dataSource]="dataSource"
		class="mat-elevation-z8"
		matSort
	>
		<ng-container matColumnDef="NUM">
			<th colspan="1" mat-header-cell *matHeaderCellDef mat-sort-header>
				N°
			</th>
			<td colspan="1" mat-cell *matCellDef="let row">{{ row.NUM }}</td>
		</ng-container>
		<ng-container matColumnDef="MOTIF">
			<th colspan="3" mat-header-cell *matHeaderCellDef mat-sort-header>
				MOTIF
			</th>
			<td colspan="3" mat-cell *matCellDef="let row">
				{{ row.MOTIF }}
			</td>
		</ng-container>
		<ng-container matColumnDef="REMARQUE">
			<th colspan="3" mat-header-cell *matHeaderCellDef mat-sort-header>
				REMARQUE
			</th>
			<td colspan="3" mat-cell *matCellDef="let row">
				{{ row.REMARQUE }}
			</td>
		</ng-container>
		<ng-container matColumnDef="PIECE_JOINTE">
			<th colspan="3" mat-header-cell *matHeaderCellDef mat-sort-header>
				PIECE JOINTE
			</th>
			<td colspan="3" mat-cell *matCellDef="let row">
				{{ row.PIECE_JOINTE }}
			</td>
		</ng-container>

		<ng-container matColumnDef="actions">
			<th
				mat-header-cell
				*matHeaderCellDef
				mat-sort-header
				class="action"
			>
				Actions
			</th>
			<td mat-cell *matCellDef="let row" class="actionsBtn action">
				<!-- <button
					type="button"
					(click)="Details()"
					class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show"
					matTooltip="{{ 'PAGES.GENERAL.DETAILS' | translate }}"
				>
					<i class="icon la la-search-plus"></i>
				</button>
				<button
					type="button"
					(click)="Edit()"
					class="btn btn-sm btn-clean btn-icon btn-warning btn-icon-md btn_table_edit"
					matTooltip="{{ 'PAGES.GENERAL.EDIT' | translate }}"
				>
					<i class="icon la la-edit"></i>
				</button> -->
				<button
					type="button"
					(click)="deleteAssociation(row.id)"
					class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete"
					matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}"
				>
					<i class="icon la la-trash"></i>
				</button>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
	<div
		*ngIf="dataSource.data.length == 0 && isLoading == false"
		style="
			display: flex;
			justify-content: center;
			padding: 2%;
			color: orangered;
		"
	>
		{{ "PAGES.GENERAL.NO_RECORDS" | translate }}
	</div>
	<mat-paginator
		*ngIf="dataSource != undefined && dataSource.data != undefined"
		[length]="dataSource.data.length"
		[pageSize]="5"
		[pageIndex]="0"
		[pageSizeOptions]="[5, 10, 50]"
		showFirstLastButtons
	></mat-paginator>
	<hr />
</div>
